#map-canvas {
  background: blue;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.map-container {
  height: 800px;
}

#lists, #day-picker {
  display: inline-block;
  height: 400px;
  background: green;
}

#day-picker {
  background: yellow;
}

.item {
  height: 1/3 * 100%;
}

.item > h1 {
  font-size: 16px;
}

h1 {
  margin: 0px 0px;
}